body{
    text-align: center;
    /* background-color: lightblue; */
}
h1{
    width: 100px;
    display: inline-block;
    background-color: black;
    color: white;
}
button{
    width: 100px;
}
#heading{
    width: 300px;
    display: inline-block;
}